<div class="navbar navbar-default" style="margin-bottom:0px !important; z-index:5;">
  <div class="container">
    <div class="navbar-header" >
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
      <a class="navbar-brand" href="#">Colabro</a>
    </div>

    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li *ngIf="signedIn()">
          <a routerLink="/teams" routerLinkActive="active">Teams</a>
        </li>
      </ul>
      <form 
      *ngIf="!signedIn()" 
      (ngSubmit)="onSubmit(f)"
      #f="ngForm"
      class="navbar-form navbar-right" role="Search">
        <div class="form-group">
          <input type="text" class="form-control" id="username" name="username" placeholder="Username"
          ngModel>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password"
          ndModel>
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
      </form>

      <form
      *ngIf="signedIn()"
      class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input
          type="search" 
          class="form-control" 
          name="search" 
          placeholder="Search..."
          auto-complete [(ngModel)]="myData" [source]="mySource">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>

    </div>

  </div>
</div>