<div *ngIf="teams.length == 0" class="container" style="margin-top:20px;">
  <div class="jumbotron">
    <h1>Oops, you don't have any teams yet!</h1>
    <p>If you want to create new team, click the button below</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Create team</a></p>
  </div>
</div>

<div class="container" style="margin-top:20px;" *ngIf="teams.length != 0">
  <div class="col-md-4" *ngFor="let team of teams">

    <div class="  panel panel-default">
      <div class="panel-heading">{{team.name}}</div>
      <div class="panel-body">
        {{team.description}}
      </div>
      <div class="panel-footer">
        <span *ngFor="let teamMember of team.teamUsers" class="teamm-tag">
          {{teamMember.name}}: <span >{{ (teamMember.user) ? "empty" : teamMember.user.name}}</span>
        </span>
      </div>
    </div>
  </div>
</div>