/* You can add global styles to this file, and also import other style files */


body 
{
    overflow-x: hidden;
}

#sidebar {
    margin-top: 20px;
    z-index: 10;
}

.teamm-tag {
    padding: 5px;
    border-radius: 2px;
    background-color: #cecece;
    margin-right: 3px;
}